@import url(/scss/Null.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

body {
  background-color: #3a3737;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 37px 0px 0px 0px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.logo__img {
  padding: 6px 0px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin: 0px 10px;
  padding: 15px 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__item:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
}

.body__face {
  margin: 186px 0px 0px 0px;
}

.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.face__subtitle {
  margin: 0px 0px 12px 0px;
  font-size: 16px;
  line-height: 19px;
}

.face__video {
  padding: 0px 100px;
}

.social {
  position: absolute;
  top: 192px;
  left: 85%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social__link {
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.social__link:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
}
