@import url(/css/Null.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
.text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.text-2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
}

.wrapper {
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 0px 0px 0px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.logo__img {
  padding: 6px 0px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin: 0px 10px;
  padding: 15px 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__item:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
}

.body {
  min-height: 600px;
}

.body__face {
  margin: 186px 0px 0px 0px;
}

.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.face__description {
  max-width: 440px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.face__subtitle {
  margin: 0px 0px 12px 0px;
  font-size: 16px;
  line-height: 19px;
}

.face__video {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 30px;
}

.face__video-name {
  padding: 10px 0px 0px 0px;
}

.social {
  position: absolute;
  top: 20%;
  left: 97%;
}

.social__list {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  padding: 10px 0px;
}

.social__link {
  padding: 20px 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.social__link:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
}

.background-fon {
  background-color: rgba(0, 0, 0, 0.315);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-photo {
  width: 100%;
  height: 100%;
}

.background-photo__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wood {
  position: relative;
}

.wood__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0px -40px 0px;
}

.wood__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding: 0px 20px;
}

.wood__title {
  color: #222F33;
}

.wood__text {
  color: #646D70;
  margin: 13px 0px 30px 0px;
  line-height: 26px;
}

.wood__button {
  z-index: 2;
}

.wood__btn {
  color: #606B74;
  border: 2px solid #646D70;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.wood__btn:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
  color: white;
  border: 2px solid #5d6bbd;
}

.wood__fon {
  background-color: #fff;
  height: 160%;
  width: 55%;
  position: absolute;
  z-index: -1;
  top: -60px;
  left: 0;
}

.wood__picture {
  position: absolute;
  top: -40%;
  left: 52%;
  z-index: 1;
}

.wood__img {
  width: 120%;
}

.innovation {
  position: relative;
  z-index: -2;
}

.innovation__fon {
  background-color: #222F33;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.innovation__content {
  padding: 280px 0px 80px 0px;
  z-index: -1;
}

.innovation__title {
  margin: 0px 0px 16px 0px;
}

.innovation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -20px;
}

.innovation__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 20px;
  line-height: 24px;
}

.house__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0px;
}

.house__picture {
  margin: 0px 100px 0px 0px;
}

.house__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -30px;
}

.house__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 30px;
}

.item__title {
  color: #222F33;
  font-size: 20px;
}

.item__text {
  color: #646D70;
  font-size: 14px;
  line-height: 22px;
}

.footer {
  background-color: #222F33;
  min-height: 100px;
  padding: 50px 20px;
  width: 100%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
  height: 100%;
}

.footer__mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  font-size: 12px;
}

.footer__mail a {
  color: white;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
}

.footer__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 12px;
  padding: 0px 0px 0px 30px;
}

.footer__item a {
  color: white;
}
