@import url(/css/Null.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
.text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.text-2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
}

.wrapper {
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0px 0px 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 100%;
}

.logo__inner {
  padding: 0px 20px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin: 0px 10px;
  padding: 15px 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__item:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
}

.body {
  min-height: 400px;
}

.body__face {
  margin: 10% 0px 0px 0px;
}

.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.face__description {
  max-width: 440px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px;
}

@media (max-width: 767px) {
  .face__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 50px 0px;
    max-width: 100%;
  }
}

.face__subtitle {
  margin: 0px 0px 12px 0px;
  font-size: 16px;
  line-height: 19px;
}

.face__title {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 375px) {
  .face__title {
    font-size: 24px;
  }
}

.face__video {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 30px;
}

@media (max-width: 767px) {
  .face__video {
    display: none;
  }
}

.face__video-name {
  padding: 10px 0px 0px 0px;
}

.face__bg-fon {
  background-color: rgba(0, 0, 0, 0.431);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media (max-width: 1023px) {
  .face__bg-fon {
    display: none;
  }
}

.face__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

@media (max-width: 1023px) {
  .face__bg-video {
    visibility: hidden;
  }
}

.social {
  position: fixed;
  top: 20%;
  left: 97%;
  z-index: 3;
}

@media (max-width: 768px) {
  .social {
    display: none;
  }
}

@media (max-width: 1300px) {
  .social {
    position: absolute;
    top: 19.5%;
    left: 97%;
  }
}

.social__list {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  padding: 10px 0px;
}

.social__link {
  padding: 20px 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 5px;
}

@media (min-width: 1300px) {
  .social__link {
    background-color: #6d6d6d;
  }
}

.social__link:hover {
  background-color: #5d6bbd;
  border-radius: 5px;
}

.background-fon {
  background-color: rgba(0, 0, 0, 0.315);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 1024px) {
  .background-fon {
    display: none;
  }
}

.background-photo {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .background-photo {
    display: none;
  }
}

.background-photo__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wood {
  position: relative;
}

.wood__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0px -40px 0px;
}

@media (max-width: 717px) {
  .wood__top {
    display: block;
  }
}

.wood__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding: 0px 0px 0px 40px;
}

@media (max-width: 768px) {
  .wood__item {
    padding: 0px 30px 0px 10px;
  }
}

.wood__title {
  color: #222F33;
}

.wood__text {
  color: #646D70;
  margin: 13px 0px 30px 0px;
  line-height: 26px;
}

.wood__button {
  z-index: 2;
}

.wood__btn {
  color: #606B74;
  border: 2px solid #646D70;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.wood__btn:hover {
  background-color: #5d6bbd;
  border-radius: 4px;
  color: white;
  border: 2px solid #5d6bbd;
}

.wood__fon {
  background-color: #fff;
  height: 150%;
  width: 60%;
  position: absolute;
  z-index: -1;
  top: -60px;
  left: 0;
}

@media (max-width: 960px) {
  .wood__fon {
    height: 130%;
    top: -35px;
  }
}

@media (max-width: 768px) {
  .wood__fon {
    display: none;
  }
}

.wood__picture {
  max-width: 450px;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -40%;
  left: 57%;
  z-index: 1;
}

@media (max-width: 768px) {
  .wood__picture {
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 100%;
    max-height: 100%;
    margin: 0px 0px 20px 0px;
  }
  .wood__picture img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 960px) {
  .wood__picture {
    top: -25%;
  }
}

.wood__img {
  width: 120%;
  height: 120%;
}

@media (max-width: 960px) {
  .wood__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 717px) {
  .wood__img {
    max-height: 350px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.innovation {
  position: relative;
  z-index: -2;
}

.innovation__fon {
  background-color: #222F33;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

@media (max-width: 761px) {
  .innovation__fon {
    top: 15%;
    height: 80%;
  }
}

.innovation__content {
  padding: 190px 20px 80px 20px;
  z-index: -1;
}

@media (max-width: 860px) {
  .innovation__content {
    padding: 120px 20px 80px 20px;
  }
}

.innovation__title {
  margin: 0px 0px 16px 0px;
}

.innovation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -20px;
}

.innovation__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 20px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .innovation__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 20px 0px;
    padding: 0px 10px;
  }
}

.house__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 863px) {
  .house__content {
    padding: 0px 0px;
  }
}

.house__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  overflow: hidden;
  position: relative;
  min-height: 350px;
  min-width: 250px;
}

@media (max-width: 863px) {
  .house__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 15px 0px;
  }
}

.house__picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.house__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 10px -30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@media (max-width: 773px) {
  .house__rows {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .house__rows {
    display: block;
    padding: 0px;
    margin: 0px;
  }
}

.house__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 0px 10px 30px;
}

@media (max-width: 767px) {
  .house__item {
    margin: 20px 0px;
    padding: 0px 0px 0px 10px;
  }
  .house__item:first-child {
    margin: 0px 0px;
  }
}

.item__title {
  color: #222F33;
  font-size: 20px;
}

.item__text {
  color: #646D70;
  font-size: 14px;
  line-height: 22px;
  padding: 0px 10px 0px 0px;
}

.footer {
  background-color: #222F33;
  min-height: 100px;
  padding: 50px 20px;
  width: 100%;
}

@media (max-width: 657px) {
  .footer {
    padding: 20px 20px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
  height: 100%;
}

@media (max-width: 657px) {
  .footer__content {
    display: block;
  }
}

.footer__mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  font-size: 12px;
}

@media (max-width: 657px) {
  .footer__mail {
    text-align: center;
    margin: 15px 0px;
  }
}

.footer__mail a {
  padding: 15px;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
}

.footer__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 657px) {
  .footer__items {
    display: block;
    text-align: center;
  }
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 12px;
  padding: 0px 0px 0px 30px;
}

@media (max-width: 657px) {
  .footer__item {
    margin: 15px 0px;
    padding: 0px;
  }
}

.footer__item a {
  padding: 15px;
}
